@font-face {
    font-family: caveat_bold;
    src: url(/fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: caveat;
    src: url(/fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: gill_light;
    src: url(/fonts/GillSans-Light.ttf);
}

@font-face {
    font-family: gillsans;
    src: url(/fonts/GillSans.ttf);
}

@font-face {
    font-family: lato_italic;
    src: url(/fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato-Regular.ttf);

}

@font-face {
    font-family: lato_black;
    src: url(/fonts/Lato-Black.ttf);
}