footer{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;

    p{
        margin-top: 18px;
        font-family: lato_italic;
        font-size: 15px;
    }
    .footer-links{
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            font-family: lato_italic;
            font-size: 15px;

        }
    }
.media{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    img{
        height: 19px;
        width: 19px;
    }
}
}